html, body{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}

.arranque{
    width: 100%;
    height: 100%;
    background: url(./img/cobra.jpg);
    background-size: cover;
    display: table;
    margin: auto;
    top: 0%;
}

.arranque_uno{
    width: 100%;
    vertical-align: middle;
    display: table-cell;

}

.content{
    font-family: 'Open Sans', sans-serif;
    max-width: 700px;
    margin: auto;
    color: white;
    text-align: center;
}

.content h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 300%;
    color: #46f087e9;
    text-shadow:  200 200 300px whitesmoke;
}

.content a {
    border-radius: 12px;
    text-decoration: none ;
    color: #0852f127;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border: 3px solid;
    padding: 7px 13px;

}

.content a:hover{
  color: tomato;
}

